.connect-wallet {
  color: #012a4d;
  width: 150px;
  height: 40px;
  background-color: #ffffff;
  border: none;
  margin-left:50px;
  border-radius: 50px;
  padding: 0px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: auto;
}