.header {
  height: 77px;
  /* border: 0.001px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  /* margin-bottom: 13rem; */
  top: 0;
  z-index: 1;
  right: 0;
  left: 0;
  background: #012a4d;
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

li {
  margin-right: 2rem;
  margin-left: 2rem;
  font-size: 1.3rem;
}

li a {
  text-decoration: none;
  color: white;
}

li a:hover,
li a:active,
li a.active {
  color: #e6fcfc;
}